img
{
    border:2px solid black;
    margin-left: 900px;
    width: 150px;
    height: 150px;
    margin-top: -155px;
    border-radius: 50%;
}
.container>.row
{
    margin-top: 20px;
}
img:hover
{
    opacity: 0.5;
}